themeName = 'spot'
activeColor = #06c
borderColor = #ccc
backgroundColor = #fff
inactiveColor = #444
shadowColor = #ddd
textColor = #444

@import './core'
@import './base'
@import './spot/*'

.ql-spot
  a
    color: activeColor

.ql-container.ql-spot
  border: 1px solid borderColor
